<form id="config" name="config">
  <legend>Configure</legend>
  <fieldset>
    <div class="input">
      <label for="chance">Maximum Seed Probability</label>
      <span>
        <span class="units">%</span>
        <input id="chance"
        name="chance"
        type="number"
        min="0"
        max="100"
        step="1"
        value="50">
      </span>
    </div>
    <div class="input">
      <label for="interval">Frame Interval</label>
      <span>
        <span class="units">ms</span>
        <input id="interval"
        name="interval"
        type="number"
        min="1"
        step="1"
        value="80">
      </span>
    </div>
    <div class="input">
      <label for="grid-y">Grid X Width</label>
      <span>
        <input id="grid-y"
        name="grid-y"
        type="number"
        min="10"
        max="200"
        step="10"
        value="200">
      </span>
    </div>
    <div class="input">
      <label for="grid-x">Grid Y Height</label>
      <span>
        <input id="grid-x"
        name="grid-x"
        type="number"
        min="10"
        max="200"
        step="10"
        value="200">
      </span>
    </div>
  </fieldset>
  <legend>Rule</legend>
  <fieldset>
    <div class="input">
      <label for="rule2">Bring to life if neighbors =</label>
      <span>
        <input id="rule2"
        name="rule2"
        type="number"
        min="0"
        max="9"
        step="1"
        value="3">
      </span>
    </div>
    <div class="input">
      <label for="rule1">Do nothing if neighbors =</label>
      <span>
        <input id="rule1"
        name="rule1"
        type="number"
        min="0"
        max="9"
        step="1"
        value="2">
      </span>
    </div>
  </fieldset>
  <legend>Style</legend>
  <fieldset>
    <div class="input">
      <label for="px-color">Color</label>
      <input id="px-color"
      name="px-color"
      type="color"
      value="#5F6368">
    </div>
    <div class="input">
      <label for="bg-color">Background</label>
      <input id="bg-color"
      name="bg-color"
      type="color"
      value="#121212">
    </div>
  </fieldset>
  <div id="btns">
    <input id="reset" type="reset" value="Reset">
    <button type="button" id="reload-btn" onclick="area.reload()">
      Restart
    </button>
    <button type="button" id="pause-btn" onclick="area.pause()">
      Pause
    </button>
    <button type="button" id="resume-btn" onclick="area.resume()">
      Resume
    </button>
  </div>
</form>
<div id="gh">
  <a href="https://github.com/jamesbaroi/conways-game" target="_blank">
    https://github.com/jamesbaroi/conways-game
  </a>
</div>
