<!--Link out to wikipedia -->
<div id="information">
  <span id="reference">
    <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life"
    target="_blank">
      https://en.wikipedia.org/wiki/Conway's_Game_of_Life
    </a>
  </span>
  <!--Display grid dimensions-->
  <span id="grid-dimensions-out"></span>
</div>